.welcome {
	background-color: #ff9200;
}
header h1 {
	font-family: 'Architects Daughter', sans-serif;
	font-size: 60px;
	font-style: normal;
	padding-left: 280px;
	padding-top: 50px;
	color: #FFFFFF;
}
header button { 
}
body {
	color: #FFFFFF;
}
.tomaccordion {
	width: 55%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.tomviolin {
	width: 60%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.tombike {
	width: 40%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.tomstanding {
	width: 65%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
